
body {
    padding-top: 200px;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 100;
    width: 100%;
    box-sizing: border-box;
}

h3{
    margin: 0;
    color: white;
    text-align: center;
    font-size: 24px;
}

p {
    max-width: 600px;
    margin: 20px auto;
    line-height: 1.6;
    color: white;
    font-size: 24px;
    text-align: center;
}

.nav-buttons {
    margin-right: 10px;
    margin-left: 10px;
    text-decoration: none;
    color: white;
    font-size: 24px;
    display: inline-block;
    transition: color 0.3s ease, transform 0.3s ease;
}

.nav-buttons-active {
    color: lime;
    text-decoration: underline;
}

.nav-buttons:hover {
    color: rgb(28, 117, 28);
    transform: scale(1.2);
}

.nav-subtitle {
    display: block;
    font-size: 26px;
    color: #ccc opacity(1);
}


.hatt-background-image {
    position: fixed;
    bottom: 0;
    right: 0;
    width: 50%;
    height: auto;
    object-fit: cover;
    z-index: 1;
}

.matrix-background-video {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -10;
    pointer-events: none;
}

.projects-section {
    margin-top: 20px;
    max-width: 800px;
    text-align: center;
    color: white;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
}

h4 {
    margin: 10px 0;
    font-size: 18px;
    color: white;
}

.project1 {
    margin: 10px 0;
    font-size: 18px;
    width: 100%;
    height: 100%;
    color: white;
    text-decoration: none;
    display: inline-block;
    transition: color 0.3s ease, transform 0.3s ease;
}

.project1:hover {
    color: lime;
    transform: scale(1.05);
    transition: color 0.3s ease, transform 0.3s ease;
}

.project2 {
    margin: 10px 0;
    font-size: 18px;
    width: 100%;
    height: 100%;
    color: white;
    text-decoration: none;
    display: inline-block;
    transition: color 0.3s ease, transform 0.3s ease;
}

.project2:hover {
    color: lime;
    transform: scale(1.05);
    transition: color 0.3s ease, transform 0.3s ease;
}

.project3 {
    margin: 10px 0;
    font-size: 18px;
    width: 100%;
    height: 100%;
    color: white;
    text-decoration: none;
    display: inline-block;
    transition: color 0.3s ease, transform 0.3s ease;
}

.project3:hover {
    color: lime;
    transform: scale(1.05);
    transition: color 0.3s ease, transform 0.3s ease;
}

.project4 {
    margin: 10px 0;
    font-size: 18px;
    width: 100%;
    height: 100%;
    color: white;
    text-decoration: none;
    display: inline-block;
    transition: color 0.3s ease, transform 0.3s ease;
}

.project4:hover {
    color: lime;
    transform: scale(1.05);
    transition: color 0.3s ease, transform 0.3s ease;
}

.project5 {
    margin: 10px 0;
    font-size: 18px;
    width: 100%;
    height: 100%;
    color: white;
    text-decoration: none;
    display: inline-block;
    transition: color 0.3s ease, transform 0.3s ease;
}

.project5-text {
    margin: 20px 0;
    margin-bottom: 100px;
    font-size: 18px;
    width: 100%;
    height: 100%;
    color: white;
    text-decoration: none;
    display: inline-block;
    transition: color 0.3s ease, transform 0.3s ease;
}

.project5:hover {
    color: lime;
    transform: scale(1.05);
    transition: color 0.3s ease, transform 0.3s ease;
}

body {
    margin: 0;
    min-height: 100vh;
}

.skills {
    max-width: 600px;
    margin: 50px auto;
    padding: 20px;
    background: rgba(0, 0, 0, 0.6);
    border-radius: 10px;
    color: white;
}

.skill {
    margin-bottom: 20px;
}

.skill span {
    display: block;
    margin-bottom: 5px;
}

.bar {
    width: 100%;
    height: 20px;
    background: #333;
    border-radius: 10px;
    overflow: hidden;
}

.fill {
    height: 100%;
    background: #00ff00;
    box-shadow: 0 0 8px #00ff00;
    animation: grow 1s ease-out;
}

.fill.html {
    width: 90%;
}

.fill.css {
    width: 80%;
}

.fill.javascript {
    width: 75%;
}

.fill.python {
    width: 65%;
}

@keyframes grow {
    from {
        width: 0;
    }
}
